<div><center><marquee> <h1> welcome home </h1> </marquee></div>

  <marquee>
  <div>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTgsRmfrh8aKuBwFPA9TyyKQaM-lGhpHG1eoSI0F0r-1kWxz03ojQ">
  </div>

 </marquee>
